<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{%url 'login' %}" method="POST">
    {% csrf_token %}
<center>
    <table>
       <tr><td colspan="2" align="center" >Login</td></tr>
        <tr><td>Username:</td><td><input type="text" name="uname"></td></tr>
         <tr><td>Password:</td><td><input type="text" name="passwd"></td></tr>

           <tr><td colspan="2"><input type="submit" value="Submit"></td></tr>

        <tr><td colspan="2" ><a href="{% url 'register'%}">New User?</a></td></tr>
    </table>
<h2>{{error}}</h2>

</center>
</form>
</body>
</html>