<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--on 30th oct-->
<form enctype="multipart/form-data"  action="{% url 'register' %}" method="post">
     {% csrf_token %}
    <h2 align="center">Registration</h2>
    <table align="center" border="1" cellpadding="5" cellspacing="5">

         <tr>
            <td>Name</td>
             <td><input type="text" name="name" ></td>
        </tr>

        <tr>
            <td>DOB</td>
             <td><input type="date" name="dob" ></td>
        </tr>

        <tr>
            <td>Email</td>
             <td><input type="text" name="email" ></td>
        </tr>

         <tr>
            <td>Username</td>
             <td><input type="text" name="uname" ></td>
        </tr>

         <tr>
            <td>Password</td>
             <td><input type="password" name="passwd" ></td>
        </tr>

        <tr>
            <td>Course</td>
             <td>
                 <!--3othoct-->
                 <select name="course">
                     {% for course in courses%}
                     <option value="{{course.id}}">{{course.course_name}}</option>
                     {%endfor%}

                 </select>
             </td>
        </tr>

         <tr>
            <td>Profile Pic</td>
             <td><input type="file" name="pp" ></td>
        </tr>

        <tr>

             <td colspan="2" align="center"><input type="submit" name="btn" value="Add"></td>
        </tr>
    </table>


</form>


</body>
</html>